/* Navigation */

@font-face{
	font-family: "Edge Of Madness";
	src: url('../fonts/EdgeOfMadness.ttf');
}

.navbar-maintenance {
	background: transparent;
	font-family: 'Manrope', sans-serif;
	height: 80px;
	width: 100%;
	display: flex;
	font-weight: 700;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	position: relative;
	top: 0;
	margin: 0;
	z-index: 999;
    
  }
  
  .navbar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	max-width: 1800px;
  }
  
  .navbar-logo {
    font-family: "Edge Of Madness";
	color: #D52228;
	letter-spacing: 3px;
	cursor: default;
	font-weight: 900;
	margin-left: 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.8em;
	display: flex;
	margin-right: auto;
	margin-left: 4rem;
  }
  
  .fa-tree {
	margin-left: 1.0rem;
	font-size: 1.8rem;
  }
  
  .nav-menu-maintenance {
	display: grid;
	grid-template-columns: repeat(1, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 10vw;
	justify-content: center;
  }
  
  .nav-item {
	height: 80px;
	color: #303956;
  }
  
  .nav-links {
	font-family: "Barlow";
	color: blue;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0rem 1.2rem;
	height: 100%;
  }

  .qbtn {
	display: inline-block;
	font:normal normal 300 1.1em 'Barlow';
	font-weight: 700;
	text-decoration:none;	
	color:#fff;
	background-color: var(--secondary-color);
	border: 1.5px solid #fff;
	border-radius: 10px;
	padding: .6rem 1rem;
	margin-right: 10%;
	background-size: 200% 100%;	
	background-image: linear-gradient(to right, transparent 50%, var(--main-color) 50%);
	transition: background-position 1.5s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color 2s ease;
}


  .qbtn:hover {
	color:rgba(255, 255, 255, 1);
	background-color:var(--main-color);
	background-position: -100% 100%;
	border: 2px solid #fff;
	cursor: pointer;
  }
  
  .nav-links:hover {
     color: var(--secondary-color);
	border-bottom: 2px solid var(--secondary-color);
	transition: all 1s ease-out;
	cursor: pointer;
  }
  
 
   
  .fa-bars {
	color: #fff;
  }
  
  .nav-links-mobile {
	display: none;
  }
  
  .menu-icon {
	display: none;
  }
  
  @media screen and (max-width: 960px) {
	.NavbarItems {
	  position: relative;
	}
  
	.nav-menu {
	  display: flex;
	  flex-direction: column;
	  width: 100%;
	  height: 90vh;
	  position: absolute;
	  top: 80px;
	  left: -100%;
	  transition: all 0.5s ease;
	}
  
	.nav-menu.active {
	  background: #EFA01D;
	  left: 0;
	  opacity: 1;
	  transition: all 0.5s ease;
	  z-index: 1;
	}
  
	.nav-links {
	  text-align: center;
	  padding: 2rem;
	  width: 100%;
	  display: table;
	}
  
	.nav-links:hover {
	  background-color: #fff;
	  color: #EFA01D;
	  border-radius: 0;
	}
  
	.navbar-logo {
	  position: absolute;
	  top: 0;
	  left: 0;
	  transform: translate(25%, 50%);
	}
  
	.menu-icon {
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  transform: translate(-100%, 60%);
	  font-size: 1.8rem;
	  cursor: pointer;
	}
  
	.fa-times {
	  color: #fff;
	  font-size: 2rem;
	}
  
	.nav-links-mobile {
	  display: block;
	  text-align: center;
	  margin: 2rem auto;
	  border-radius: 4px;
	  width: 80%;
	  text-decoration: none;
	  font-size: 1.5rem;
	  background-color: transparent;
	  color: #fff;
	  padding: 14px 20px;
	  border: 1px solid #fff;
	  transition: all 0.3s ease-out;
	}
  
	.nav-links-mobile:hover {
	  background: #fff;
	  color: #242424;
	  transition: 250ms;
	}
  }

  @media (max-width: 1199.98px) { 
	.navbar-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		min-width: 60vw;
	  }

	  .nav-links {
		font-family: "Barlow";
		color: #fff;
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 0rem 1.2rem;
		height: 100%;
	  }
	  
	.navbar-logo {
		font-family: "Edge Of Madness";
		color: #D52228;
		letter-spacing: 1px;
		cursor: default;
		font-weight: 900;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.2em;
		display: flex;
		margin-left: 0 ;
		margin-right: 0px;
		padding: .5rem .8rem;
	  }

	  .qbtn {
		display: inline-block;
		font:normal normal 300 1.2em 'Barlow';
		font-weight: 700;
		text-decoration:none;	
		color:#fff;
		background-color: var(--secondary-color);
		border: 1.5px solid #fff;
		border-radius: 80px;
		padding: .3rem .8rem;
		margin-right: 0;
		background-size: 200% 100%;	
	  }
   }

@media (max-width: 991.98px) { 
	.navbar-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		min-width: 60vw;
	  }

	.navbar-logo {
		font-family: "Edge Of Madness";
		color: #D52228;
		letter-spacing: 1px;
		cursor: default;
		font-weight: 900;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.2em;
		display: flex;
		margin-left: 0 ;
		margin-right: 0px;
		padding: .5rem .8rem;
	  }

	  .qbtn {
		display: inline-block;
		font:normal normal 300 1.2em 'Barlow';
		font-weight: 700;
		text-decoration:none;	
		color:#fff;
		background-color: var(--secondary-color);
		border: 1.5px solid #fff;
		border-radius: 80px;
		padding: .3rem .8rem;
		margin-right: 0;
		background-size: 200% 100%;	
	  }
 }


@media(max-width: 767.98px) {
	.navbar-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		min-width: 60vw;
	  }

	.navbar-logo {
		font-family: "Edge Of Madness";
		color: #D52228;
		letter-spacing: 1px;
		cursor: default;
		font-weight: 900;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.2em;
		display: flex;
		margin-left: 0 ;
		margin-right: 0px;
		padding: .5rem .8rem;
	  }

	  .qbtn {
		display: inline-block;
		font:normal normal 300 1.2em 'Barlow';
		font-weight: 700;
		text-decoration:none;	
		color:#fff;
		background-color: var(--secondary-color);
		border: 1.5px solid #fff;
		border-radius: 80px;
		padding: .3rem .8rem;
		margin-right: 0;
		background-size: 200% 100%;	
	  }
}  

@media (max-width: 575.98px){
	.navbar-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		min-width: 60vw;
	  }

	.navbar-logo {
		font-family: "Edge Of Madness";
		color: #D52228;
		letter-spacing: 1px;
		cursor: default;
		font-weight: 900;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.2em;
		display: flex;
		margin-left: 0 ;
		margin-right: 0px;
		padding: .5rem .8rem;
	  }

	  .qbtn {
		display: inline-block;
		font:normal normal 300 1.2em 'Barlow';
		font-weight: 700;
		text-decoration:none;	
		color:#fff;
		background-color: var(--secondary-color);
		border: 1.5px solid #fff;
		border-radius: 80px;
		padding: .3rem .8rem;
		margin-right: 0;
		background-size: 200% 100%;	
	  }
}